<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    {% extends 'home.html' %}
</head>
<style>
    .blog-post{
        border-radius: 5px;
        border: 4px double black;
    }
</style>
{% block content %}<div class="container">
<div align="center" class="container">
                    <h3 align="center" class="pb-3 mb-4 font-italic border-bottom">Новости</h3>
    <div align="center" class="row">
                    {% if news %}
                    {% for new in news %}
                    <div align="center" class="news">
                        <h2 class="blog-post-title">{{ new.title }}</h2>
                        <p class="blog-post-meta">{{ new.created_date }}
                            <br /><hr>
                        <a href="{% url 'news_detail' pk=new.pk %}" class="btn btn-info btn-rounded">Читать...</a>
                        </div><div class="col-sm-2"></div>
                    {% endfor %}
                    {% endif %}
    </div><br /><hr />
    <div class="cos-sm-4"></div>
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/news?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info btn-rounded">Назад</a>
                {% else %}
                    <a href="#" class="btn btn-outline-info btn-rounded">Назад</a>
                {% endif %}
                <span class="page-current">
                    <button class="btn btn-info btn-rounded">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</button>
                </span>
                {% if page_obj.has_next %}
                    <a href="/news?page={{ page_obj.next_page_number }}" class="btn btn-outline-info btn-rounded">Далее</a>
                {% else %}
                    <a href="#" class="btn btn-outline-info btn-rounded">это была последняя</a>
                {% endif %}
            </span>
        </div>
</div></html>
{% endblock %}